@CHARSET "UTF-8";

#cost_form_currency_id { width: 50px; }
#cost_form_advanceRecieved { width: 50px; text-align: right; }

#cost_form_item_cost_Date_day, 
#cost_form_item_invoice_Date_day
{
  width: 50px;
}
#cost_form_item_cost_Date_month, 
#cost_form_item_invoice_Date_month
{
  width: 50px;
}

#cost_form_item_cost_Date_year, 
#cost_form_item_invoice_Date_year
{
  width: 70px;
}

#project_description { width: 400px; }

#currency_code { width: 70px; }
#currency_symbol { width: 70px; }

#vat_rate { width: 70px; }

#CostFormUser_NewCfi #cost_form_item_currency_id { width: 50px; }
#CostFormUser_NewCfi #cost_form_item_vat_id { width: 50px; }
#CostFormUser_NewCfi #cost_form_item_amount { width: 60px; text-align: right; }
#CostFormUser_NewCfi #cost_form_item_description { width: 150px; }
#CostFormUser_NewCfi #cost_form_item_receipt_No { width: 80px; }
#CostFormUser_NewCfi #cost_form_item_invoice_To { width: 90px; }

#working_hour_start, #working_hour_end { width: 50px; }
