@CHARSET "UTF-8";

/* ELEMENTS */

* {
  color: #333;
  vertical-align: middle !important;
}

body {
  background-color: #ccc;
  font:12px/1.3em Arial,sans-serif;
  margin: 0;
}

input, textarea, select, .uneditable-input {
  color: #333;
  height: 18px;
  padding: 2px 0;
}

select, input[type="file"] {
  height: auto;
  line-height: auto;
}

select {
  color: #333 !important;
}

table {
  width: auto !important;
}

table th, table td {
  padding: 5px;
  line-height: 22px;
}

h1, h2, h3, h4, p {
  cursor: default !important;
}

ul {
  list-style-type: none;
  margin-left: 15px;
}

h4 {
  color: #411;
}

/* CLASSES */

div.form-actions {
  margin-top: 33px;
}

.FilterForm {
  margin-bottom: 10px;
}

.clear {
  clear: both !important;
  display: block !important;
  height: 1px !important;
  overflow: auto;
  width: 100% !important;
}

.w100 {
  width: 100px !important;
}

.inline {
  display: inline;
}

.noborder {
  border: none !important;
}

.alert p {
  margin-bottom: 0 !important;
}

.label.success, .label.important {
  text-transform: none;
}

.tablesorter th, .tablesorter td {
  padding: 3px 5px !important;
}

.tablesorter label {
  padding-top: inherit;
}


/* BOOTSTRAP OVERRIDE */

input, textarea, select, .uneditable-input {
  margin-bottom: 0px !important;
}
