@CHARSET "UTF-8";

/* ELEMENTS */

* {
  color: #333;
  vertical-align: middle !important;
}

body {
  background-color: #ccc;
  font:12px/1.3em Arial,sans-serif;
  margin: 0;
  scroll-y: visible !important; /* Refs:28 */
}

input, textarea, select, .uneditable-input {
  color: #333;
  height: 18px;
  padding: 2px 0;
}

select, input[type="file"] {
  height: auto;
  line-height: auto;
}

select {
  color: #333 !important;
}

table {
  margin: 10px 0 !important;
  width: auto !important;
}

table th, table td {
  padding: 5px;
  line-height: 22px;
}

h1, h2, h3, h4, p {
  cursor: default !important;
}

ul {
  list-style-type: none;
  margin-left: 15px;
}

h4 {
  color: #411;
  margin: 20px 0 10px 0 !important;
}


/* CLASSES */

.alert p {
  margin-bottom: 0 !important;
}

.clear {
  clear: both !important;
  display: block !important;
  height: 1px !important;
  overflow: auto;
  width: 100% !important;
}

.error_list {
  margin: 0 !important;
  padding: 0 !important;
}

.error_list * {
  color: red !important;
}

.FilterForm {
  margin-bottom: 10px;
}

.FilterForm form#topFilterForm {
  margin: 0;
}

.FilterForm form#topFilterForm table {
  margin: 15px 0 5px 0 !important;
}

.form-actions {
  margin-top: 33px;
}

.inline {
  display: inline;
}

.label.success, .label.important {
  text-transform: none;
}

.noborder {
  border: none !important;
}

.tablesorter th, .tablesorter td {
  padding: 2px 3px !important;
}

.tablesorter label {
  padding-top: inherit;
}

.w100 {
  width: 100px !important;
}


/* TABLESORTER PAGER */

.tablesorterpagerdiv form {
  margin: 0 !important;
}


/* BOOTSTRAP OVERRIDE */

input, textarea, select, .uneditable-input {
  margin-bottom: 0px !important;
}

.pagination {
  height: auto !important;
  margin: 10px 0 !important;
}

.pagination a {
  line-height: 25px !important;
}
