@CHARSET "UTF-8";

#LayoutContainer {
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
	background-color: white;  
	min-height: 500px;
  padding: 0px 10px 15px 10px;
  width: 1100px;
}

#LayoutHeader {
  margin-top: 0px
}

#LayoutLogo {
  margin-top: 15px;
}

#LayoutUserinfo {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
	background-color: #e5e5e5;
  height: 18px;
  margin-top: 20px;
  padding: 5px;
}

#LayoutUsermenu li {
  border-right: 1px solid black;
  display: inline;
  margin-right: 5px;
  padding-right: 5px;
}




#LayoutTopMenu * {
  color: white;
  font-size: 13px;
  font-weight: bold;
  line-height: inherit;
}

#LayoutTopMenu {
	-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #08C;/*#8b99a8;*/  
	padding: 5px 4px 0 4px;
	margin: 5px 0;
}

#LayoutTopMenu li a {
  padding: 8px 13px 8px 13px;
}

#LayoutTopMenu li a:hover {
  color: #333;
}

#LayoutTopMenu li.active a {
  color: #333;
  padding: 8px 13px 8px 13px;
}


#LayoutTitle {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: black;
	font-size: 14px;
  font-weight: bold;
	line-height: 26px;
	margin: 0;
	padding: 1px 0 0 15px;
}


#LayoutTitle h1 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
	background-color: #747A89;
	color: white;
	font-size: 14px;
	line-height: 26px;
	margin: 0;
	padding: 1px 0 0 15px;
}
#LayoutMainContent {
	margin-bottom: 50px;
  margin-left: 10px !important;
  width: 925px !important;
}
