/* Refs #55 - Submenu under Topmenu , ioPlugin with Bootstrap */
/*
    #LayoutTopMenu li.dropdown a {
        color: #000000 !important;
    }
    #LayoutTopMenu li.dropdown li a {
        font-weight: normal !important;
    }
    #LayoutTopMenu {
        background-color: #ccccff !important;
    }
    #LayoutTopMenu li.nav-header {
        color: #000000 !important;
    }

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > .open.active > a:hover
{
    background-color: #ffffff;
}​


*/
/* End of Refs #55 */



/* Timepicker */

div.time-picker {
    width: 6em !important;
}

.timepicker-error {
    border:1px solid red;
}


/* JQUI datepicker */

.ui-datepicker {
    width: 13.5em !important;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 !important;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 34% !important;
}

.ui-datepicker table {
    margin: 0 !important;
}

.ui-datepicker th {
    padding: 3px !important;
}

.ui-datepicker-trigger {
    margin-left: 5px !important;
}
