#
#  Symfony temporary files
#
/cache/
/log/
/data/sql/
#
#  Symfony Configuration
#
/config/databases.yml
/config/factories.yml
/data/fixtures/
#
#  Symfony Project Links
#
/web/fmcCostFormPlugin
/web/fmcWorkingHourPlugin
/web/sfDoctrinePlugin
/web/sfFormExtraPlugin
#
#  Editors
#
/.buildpath
/.project
/.settings
/.externalToolBuilders
#
#  Other
#
.svn
.lock.file
*.lock.file
Thumbs.db
.DS_Store
