div#LoginWrapperOuter {
	background: url('/images/login-bg.png') no-repeat;
	height: 373px;
	margin: 100px auto 0 auto;
  padding: 41px 0 0 4px;
  width: 514px;
}

div#LoginWrapperMiddle {
  
	height: 212px;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
	width: 376px;
}

div#LoginWrapperInner {

	margin: 0 auto;
	text-align: center;
	width: 300px;
}

form#LoginForm {
	clear: both;
	margin: 15px 0 0 40px;
	text-align: left;
}

form#LoginForm input {
	clear: both;
	margin-top: 10px;
	padding: 4px;
}

form#LoginForm input[type=submit] {
	padding: 6px 14px;
}
