/* BOOTSTRAP: TABLE SIZE AUTO */

    table, .table { width: auto; }


/* BOOTSTRAP: SMALLER FONTS */

    html, body, .btn, label, input, button, select, textarea { font-size: 12px; }
    .close { font-size: 20px; }


/* BOOTSTRAP: SMALLER INPUTS */
    
    select, textarea, input[type="text"], input[type="password"], 
    input[type="datetime"], input[type="datetime-local"], 
    input[type="date"], input[type="month"], input[type="time"], 
    input[type="week"], input[type="number"], input[type="email"], 
    input[type="url"], input[type="search"], input[type="tel"], 
    input[type="color"], .uneditable-input {
        font-size: 12px;
        margin-bottom: 0;
        padding: 2px 3px;
    }
    select, input[type="file"] { height: 26px; }
    select, textarea, input { margin-bottom: 0px;  }


/* #28 - ALWAYS SHOW SCROLLBAR */

    html { overflow-y: scroll !important; }


/* FIX: JQUERYUI-DATESELECT NEEDS SPACE */

    .ui-datepicker-trigger { margin-left: 3px; }


/* PAPER-LIKE VIEW */

    body { background-color: #CCC; }
    #Layout_Container {
        background-color: #fff;
        -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-bottom: 50px;
        padding: 10px;
    }


/* SMALLER TOPNAV */

    .Layout_Headerbar   { padding: 0 5px; }
    .Layout_Headerbar h3   { font-size: 21px; }
    .navbar .divider-vertical   { height: 36px; }
    .navbar-inner   { min-height: 36px; }
    .navbar .nav > li > a   { padding-bottom: 8px; padding-top: 8px; }


/* FIXING TOPBAR SPACE */

    .Layout_Headerbar h3 { margin: 0; }
    .Layout_Headerbar img { margin-bottom: 5px; }


/* ADDITIONAL STYLING CLASSES */

    .marginbot0 { margin-bottom: 0px }
    .margintop10 { margin-top: 10px }
    .w100 { width: 100px; }

/* SFCONTENT MINIMUM HEIGHT */

    #Layout_MainContent { min-height: 400px; }
